@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  height: 100vh;
  background-image: linear-gradient(
      rgba(92, 92, 92, 0.3),
      rgba(92, 92, 92, 0.3)
    ),
    url("https://images.unsplash.com/photo-1510027580951-31747e2371a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

#mainTitle {
  font-family: "Reenie Beanie", cursive;
  color: white;
  font-size: 50px;
  text-shadow: 1px 2px 1px rgba(129, 129, 129, 0.3);
}

.nav-link,
#homeLink a {
  font-family: "Poppins", sans-serif;
  font-weight: thin;
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: white;
  text-shadow: 1px 2px 1px rgba(129, 129, 129, 0.3);
}
.nav-link:hover {
  background-color: #a59d72;
  color: #ffffff;
  border-bottom: 0.01rem solid transparent;
  border-bottom-color: #9d8f7e;
  text-shadow: 1px 2px 1px rgba(129, 129, 129, 0.3);
}
.btn {
  font-weight: 600;
  font-size: 20px;
  background-color: #a59d72;
}

.btn:hover {
  background-color: #756e4d;
}
.card-title {
  font-size: 40px;
  font-weight: 600;
}
.card-body {
  margin: 30px;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#footer {
  color: white;
}
